
<header class="navbar navbar-inverse">
	<div class="container">
				<!-- <div id="title"><h1>BOOTLEGGER'S LIQUOR</h1></div> -->
		<div class="icon">
			<%= image_tag "/icon_700.jpg", class: "main_icon", width: "100%" %>	
		</div>
	</div>
</header>
<div class="container">
	<div id="front_img" class="col-lg-5 col-md-6 col-sm-6 ">
		<%= image_tag "/front.jpg", class: "front", width: "100%" %>
	</div>

	<div id="contact" class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
			<!-- <%= render 'layouts/header' %> -->
		<p>810 MCMINNVILLE HWY,<br/>
			WOODBURY, TN 37190<br/>
			<a href="tel:615-563-5555">
				  <span>615-563-5555</span></a><br/>
			Open 8AM - 11PM<br/>Monday through Saturday
		</p>
	</div>
</div>

<footer>
</footer>